*~
\#*#
.#*
.~*#
*.sw*
etc
log
tmp
Gemfile.lock
.ruby-version
.ruby-gemset
.DS_Store
db/*.sqlite3
config/database.yml
config/secrets.yml
deploy-info.html
config/initializers/gup_config.rb

spec/fixtures/cassettes/http_/
